<ul class ="thumbnails">

<%- model_class = Mem -%>
    <% @mems.each do |mem| %>
    <li> 
      <%= link_to image_tag(mem.image.url(:cropped), class: 'thumbnail'),mem_path(mem) %>
    </li>
    <% end %>
</ul>






